<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="TheDarkHood">
    <meta name="description" content="We Sell all type of site broker trusted">
    <meta name="keywords" content="Broker,Html,HTML,CSS,Website,">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>IBorker Sells Market Place ! Contact page</title>
    <style>
      body{
        height: 80vh;
      }
    </style>
  </head>
  <body class="d-flex justify-content-center align-items-center flex-column">
    <h6 class="text-success">Your message has been sent successfully. You will hear from us shortly at the provided email address</h6>
    <a href="/" class="btn btn-dark">Home</a>
  </body>
</html>