<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="TheDarkHood">
    <meta name="description" content="We Sell all type of site broker trusted">
    <meta name="keywords" content="Broker,Html,HTML,CSS,Website,">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>IBorker Sells Market Place !Payment</title>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .crypto-card {
            margin-top: 20px;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .address {
            font-family: monospace;
            word-break: break-all;
        }
    </style>
  </head>
  <body>
    <div class="container my-5">
      <h2 class="text-center">Payment</h2>
      <div class="row justify-content-center">
      <div class="crypto-card">
        <p class="text-danger">Please copy any of the addresses below to make your payment. Once we have received your payment, we will send you an email with the link to download your broker source code</p>
      </div>
          <div class="col-md-6">
              <div class="crypto-card">
                  <h5>USDT(TRC 20) Address</h5>
                  <input class="form-control" id="usdtAddress" value="TN3FcG9FDVM1FcBweRkpcSVyV1XPrHP3fn" readonly/>
              </div>
              <div class="crypto-card">
                  <h5>BTC Address</h5>
                  <input class="form-control" id="btcAddress" value="bc1qq2la9yjcqg9amtlw24n3egpfhtvvc2xn8mc4kj" readonly>
              </div>
          </div>
        <form>
          <p class="text-warnning"></p>
          <div class="crypto-card">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Enter your email address" required>
              <button type="submit" class="btn btn-primary btn-block mt-4" onclick="copyToClipboard('btcAddress')">I have make payment</button>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
    